.header {
    display: 'flex';
    align-items: 'center';
    background-color: cornflowerblue;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
    height: fit-content;
}

.content {
    padding: 0 5% 75px;
    background-color: white;
}

@media only screen and (min-width: 1440px) {
    .content {
        padding: 0 10% 75px;
    }
}

.footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}