.navbar {
    justify-content: space-evenly;
    background-color: cornflowerblue;
    color: whitesmoke;
    margin-bottom: 20px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}

.content {
    padding: 10px;
    max-width: 1080px;
    min-width: 850px;
    margin: auto;
}

.container {
    all: unset;
    max-width: 1080px;
}

input[type="number"] {
    border: 1px solid;
    border-color: grey;
}